@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: orange;
}
.wrapper{
    background-color: #fff;
    max-width: 500px;
    border-radius: 15px;
    padding: 20px 25px 20px;
    box-shadow: 0 15px 40px rgba(255, 255, 255, 0.5);
}
header h1{
    font-size: 27px;
    font-weight: 500;
}
header p{
    margin-top: 5px;
    font-size: 18px;
    color: #999;
}